{
    "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"],
    "installedESLint": true,
    "plugins": [
      "react"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
      "indent": [0, "tab"],
      "no-console": [0],
      "no-unused-vars": [1],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/jsx-indent": [0, "tab"],
      "react/jsx-indent-props": [0, "tab"],
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true} ],
      "react/jsx-boolean-value": [0]
    }
    
  }